/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*RESET*/

/*COMMON*/

body {
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
    display: block;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float {
    float: left;
}

.button {
    display: inline-block;
    padding: 8px 14px;
    border-radius: 5px;
    background-color: #7cbb02;
    color: white;
    text-decoration: none;
}

.img_fit {
    object-fit: cover;
    height: 100%;
}


/*COMMON*/

/*HEADER*/
 
header {
    height: 600px;
    background-color: #0c325a;
    background-image: url(../img/background-header.png);
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: 120% 110%;
   
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

.logo_container {
    width: 10%;
}

.mid_menu {
    width: 45%;
}

.right_menu {
    width: 45%;
}

.menu {
   list-style-type: none;
   padding: 13px;
   margin-left: 20px;
}

.menu li {
    display: inline-block;
}

.menu li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    margin-left: 20px;
    font-size: 11px;
}
 
.right_menu {
    text-align: right;
}

.login {
    border: 1px solid white;
    border-radius: 5px;
    padding: 7px 25px;
}

.title {
    color: white;
    width: 51%;
    margin-top: 206px;
    font-size: 25px;
}

.title .button {
    margin-top: 40px;
    padding: 20px;
}
/*HEADER*/

/*MAIN START*/

/*1st Section Start*/

.banner_slogan {
    padding: 100px;
    width: 100%;
    background-color: lightgray;
    position: relative;
    text-align: center;
    
}


.slogan_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.common_txt {
    margin-top: 15px;
    color: grey;
    font-weight: bold;
    text-align: center;

}

/*1st Section End*/

/*2nd Section Start*/

.info_first_section {
    margin-top: 50px;
    margin-bottom: 30px;
}

.info_first_section h2 {
    text-align: center;
    color: #7cbb02;
    margin-top: 25px;

}


.left_col, .right_col {
    width: 30%;
    background-color: white;
   
}

.mid_col {
    width: 40%;
}

.size_img {
    height: 100px;
}


/*2nd Section End*/

/*3rd Section Start*/

.graph_col, .placement_col {
    width: 50%;
}

.placement_col {
    padding: 70px;
}

.graph_col {
    padding: 30px;
}

.placement_col p {
    margin-top: 15px;
    margin-bottom: 15px;
    color: grey;
    font-weight: bold;
}
/*3rd Section End*/


/*MAIN END*/

/*FOOTER*/

footer {
    background-color: lightgrey;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer span {
    display: inline-block;
}

.footer_span {
    width: 50%;
}

.plane_info {
    width: 50%;
    padding: 10px;
}

.gender_choice {
    width: 50%;
    text-align: right;
    
}
 
.footer_bold {
    font-weight: bold;
}

.gender_choice span {
    margin-right: 10px;

}

.gender_choice select {

    margin-right: 10px;

}
/*FOOTER*/

